<nz-layout>
  <nz-header style="background-color: #2B2B2B">

    <nz-form-text id="ueberschrift">TODO LISTE</nz-form-text>

      <nz-divider nzType="vertical" style="background-color: #B078FF; height: 30px; margin-bottom: 10px;"></nz-divider>

        <button nz-button nz-tooltip="show" (click)="gotoYT()" nzType="text" id="youtubeButton" nzTooltipTitle="YouTube" nzTooltipPlacement="bottom">
          <i nz-icon nzType="youtube" nzTheme="outline" style="color: #B078FF; font-size: 26px"></i>
        </button>

        <button nz-button nz-tooltip="show" (click)="gotoReddit()" nzType="text" id="redditButton" nzTooltipTitle="Reddit" nzTooltipPlacement="bottom">
          <i nz-icon nzType="reddit" nzTheme="outline" style="color: #B078FF; font-size: 26px"></i>
        </button>

        <button nz-button nz-tooltip="show" (click)="gotoTwitter()" nzType="text" id="twitterButton" nzTooltipTitle="Twitter" nzTooltipPlacement="bottom">
          <i nz-icon nzType="twitter" nzTheme="outline" style="color: #B078FF; font-size: 26px"></i>
        </button>

        <button nz-button nz-tooltip="show" (click)="gotoChrome()" nzType="text" id="chromeButton" nzTooltipTitle="Google" nzTooltipPlacement="bottom">
          <i nz-icon nzType="google" nzTheme="outline" style="color: #B078FF; font-size: 26px"></i>
        </button>

  </nz-header>

  <nz-content>

    <button nz-button (click)="addEintrag()" nzType="text" id="neuerEintragButton">
      Neuer Eintrag
    </button>

    <nz-table
      #basicTable
      [nzData]="todo"
      nzShowPagination="true"
      [nzPageSize]="10"
      [nzShowSizeChanger]="true"
      [nzPageIndex]="1"
      [nzPageSizeOptions]=[5,10,25,50,100]
      nzTableLayout="fixed"
      nzSize="middle"
      nzPaginationPosition="bottom">

      <thead>
      <tr>
        <th *ngFor="let column of listOfColumn"
            [nzSortFn]="column.compare"
            style="background-color: #2B2B2B;
                   font-weight: lighter;">
          {{ column.title }}</th>
        <th id="thLoeschen">Aktionen</th>
      </tr>
      </thead>

      <tbody style="background-color: #363636; color: white;">
      <tr *ngFor="let item of basicTable.data">

        <td>{{item.wichtigkeit}}</td>
        <td>{{item.wann | date: 'dd.MM.yyyy'}}</td>
        <td>{{item.was}}</td>
        <td>{{item.kategorie}}</td>

        <td>


          <a
            nz-popconfirm="true"
            nzPopconfirmTitle="Wirklich löschen?"
            [nzIcon]="iconTpl"
            nzOkText="Ja"
            nzCancelText="Nein"
            (nzOnConfirm)="deleteEintrag(item)"
            [nzOkDanger]="true"
          >

            <button nz-button nzType="text" style="min-width: 50px; color: #FF2F21;">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>

            <ng-template #iconTpl>
              <i nz-icon nzType="close-circle" nzTheme="outline" style="color: red;"></i>
            </ng-template>


          </a>

        </td>

      </tr>

      </tbody>
    </nz-table>

  </nz-content>


  <nz-modal id="modal1" [(nzVisible)]="isVisible" nzTitle="Neuer Eintrag" [nzFooter]="modalFooter"
            (nzOnCancel)="handleCancelNeu()">
    <ng-container *nzModalContent>

      <form nz-form [formGroup]="productForm" style="margin-bottom: 10px;">

        <nz-form-item>
          <nz-form-label nzRequired>Wichtigkeit</nz-form-label>
          <nz-select nzAllowClear [ngModel]="'1'" formControlName="wichtigkeit">
            <nz-option [nzLabel]="'1'" [nzValue]="'1'"></nz-option>
            <nz-option [nzLabel]="'2'" [nzValue]="'2'"></nz-option>
            <nz-option [nzLabel]="'3'" [nzValue]="'3'"></nz-option>
          </nz-select>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label nzRequired>Bis wann zu erledigen?</nz-form-label>
          <nz-date-picker style="width:470px; color: white;" [(ngModel)]="date" (ngModelChange)="onChange($event)" formControlName="wann"></nz-date-picker>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label nzRequired>Was muss erledigt werden?</nz-form-label>
          <textarea
            nz-input formControlName="was" placeholder="z.B. für Mathe I studieren"
          ></textarea>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label nzRequired>Kategorie</nz-form-label>
          <nz-select nzAllowClear [ngModel]="'Freizeit'" formControlName="kategorie">
            <nz-option [nzLabel]="'Freizeit'" [nzValue]="'Freizeit'"></nz-option>
            <nz-option [nzLabel]="'Gym'" [nzValue]="'Gym'"></nz-option>
            <nz-option [nzLabel]="'Lernen'" [nzValue]="'Lernen'"></nz-option>
            <nz-option [nzLabel]="'Arbeit'" [nzValue]="'Arbeit'"></nz-option>
            <nz-option [nzLabel]="'Papierkram'" [nzValue]="'Papierkram'"></nz-option>
            <nz-option [nzLabel]="'Sonstiges'" [nzValue]="'Sonstiges'"></nz-option>
          </nz-select>
        </nz-form-item>

      </form>

    </ng-container>
    <ng-template #modalFooter>
      <button nz-button nzType="text" (click)="handleCancelNeu()" id="abbrechenButton">Abbrechen</button>
      <button nz-button nzType="text" (click)="addEintragConfirm(productForm.value)" [nzLoading]="isConfirmLoading"
              id="hinzufügenButton">
        Eintragen
      </button>
    </ng-template>
  </nz-modal>


</nz-layout>

